@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.header {
  position: sticky;
  margin-top: 16px;
  top: 0;
  z-index: 20;
  .nav {
    @include container;
    background: $color-surface;
    box-shadow: $nav-shadow;
    height: 80px;
    padding: 13px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      img {
        width: 199px;
        height: 54px;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 28px;
      .link {
        font-size: 16px;
        font-weight: 500;
        color: $color-text;
        transition: color $transition;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .header {
    margin-top: 0;
    .nav {
      height: 56px;
    }
  }
}
